# Querying with SQLAlchemy - Lab

## Introduction

In this lesson, we'll learn how to use SQLAlchemy to write queries about Microsoft's _Northwind Traders_ database!

## Objectives

You will be able to:

* Read and understand an ERD diagram
* Create queries with SQLAlchemy, including queries that involve many-to-many relationships

## Getting Started

In order to complete this lab, we'll need to download a SQLite3-compatible version of the _Northwind Traders_ database from Microsoft.  Microsoft built this database back in the year 2000 to help showcase their SQL Server technology. Since then, it has been open-sourced and has become a great practice tool for every new generation of SQL learners. 

Lucky for us, some generous programmers have already converted the Northwind database to a sqlite-compatible version and posted it on Github. We've already included the file the SQL database file that we'll be working with in the repo for this folder, along with the following ERD Diagram. However, if you would like to work with the larger version of this dataset at a future time, just clone [this repo](https://github.com/jpwhite3/northwind-SQLite3) and follow their instructions to access it!

## ERD Diagram For Northwind Traders

The following ERD Diagram describes the Northwind Traders Database:

<img src='Northwind_ERD.png'>

If the text seems a bit hard to read inside this jupyter notebook, just go into the folder for this repo and open the `Northwind_ERD.png` file manually to see it full size. 

## Connecting to the Database

The first thing we'll need to do is connect to the Northwind Traders database, which can be found in the file `Northwind_small.sqlite`.

In the cell below, import the necessary tools from the `sqlalchemy` library, and take the necessary steps to connect to the database.

**_NOTE:_** We won't be modifying the information in the database at all, just querying it, so there's no need to import the various things you would need to create declarative base classes and the like.

In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import Session, sessionmaker

engine = create_engine("sqlite:///Northwind_small.sqlite", echo=True)
Session = sessionmaker(bind=engine)
session = Session()

## Get Table Names and Table Information

One of the most useful things we can do when working with a new database is to inspect the tables until we have a solid idea of what we're looking at.  As you work through this lab, you'll notice that there are some small discrepancies between the Table/Column names listed in the ERD and what they are actually are in the database.  This may be annoying, but this is not an accident--sometimes, documentation is wrong!  By learning how to inspect what tables exist in a database, as well as how which columns exist inside a table, we can save ourselves a lot of headaches by double checking. 

In the cell below:

* Import `inspect` from sqlalchemy
* Create an inspector object by passing in `engine` to `inspect`
* Use the appropriate inspector function to get the names of all tables

In [2]:
from sqlalchemy import inspect

inspector = inspect(engine)

print(inspector.get_table_names())

2019-06-03 15:08:33,413 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-06-03 15:08:33,414 INFO sqlalchemy.engine.base.Engine ()
2019-06-03 15:08:33,416 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-06-03 15:08:33,417 INFO sqlalchemy.engine.base.Engine ()
2019-06-03 15:08:33,419 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-06-03 15:08:33,419 INFO sqlalchemy.engine.base.Engine ()
['Category', 'Customer', 'CustomerCustomerDemo', 'CustomerDemographic', 'Employee', 'EmployeeTerritory', 'Order', 'OrderDetail', 'Product', 'Region', 'Shipper', 'Supplier', 'Territory']

Great! We can now see exactly what each Table is named. 

**_Question_**:

Are there any discrepancies between the table names and the ERD diagrams? if so, what are they?

Write your answer below this line:
________________________________________________________________________________________________________________________________
Some of the tables are named differently:
- Tables in the ERD diagram are all plural


Let's inspect the column names on one of the tables as well. In the cell below, call the appropriate method to get all column names for the `'Employee'` table.

In [3]:
print(inspector.get_columns('Employee'))

2019-06-03 15:08:34,987 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Employee")
2019-06-03 15:08:34,988 INFO sqlalchemy.engine.base.Engine ()
[{'name': 'Id', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}, {'name': 'LastName', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'FirstName', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Title', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'TitleOfCourtesy', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'BirthDate', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'HireDate', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Address', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'City', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Region', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'PostalCode', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Country', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'HomePhone', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Extension', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Photo', 'type': BLOB(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Notes', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'ReportsTo', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'PhotoPath', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}]

That output is good, but its a bit messy. Let's write a function that makes it a bit more readable, and only tells us what we need to know. 

The current structure of the output is a list of dictionaries. Complete the function below so that when the function is called and passed a table name, it prints out the name and type of each column in a well-formatted way.

In [5]:
def get_columns_info(col_name):
    cols_list = inspector.get_columns(col_name)
    
    print("Table Name: {}".format(col_name))
    print("")
    
    for column in cols_list:
        print("Name: {} \t Type: {}".format(column['name'], column['type']))

get_columns_info('Employee')

Table Name: Employee

Name: Id 	 Type: INTEGER
Name: LastName 	 Type: VARCHAR(8000)
Name: FirstName 	 Type: VARCHAR(8000)
Name: Title 	 Type: VARCHAR(8000)
Name: TitleOfCourtesy 	 Type: VARCHAR(8000)
Name: BirthDate 	 Type: VARCHAR(8000)
Name: HireDate 	 Type: VARCHAR(8000)
Name: Address 	 Type: VARCHAR(8000)
Name: City 	 Type: VARCHAR(8000)
Name: Region 	 Type: VARCHAR(8000)
Name: PostalCode 	 Type: VARCHAR(8000)
Name: Country 	 Type: VARCHAR(8000)
Name: HomePhone 	 Type: VARCHAR(8000)
Name: Extension 	 Type: VARCHAR(8000)
Name: Photo 	 Type: BLOB
Name: Notes 	 Type: VARCHAR(8000)
Name: ReportsTo 	 Type: INTEGER
Name: PhotoPath 	 Type: VARCHAR(8000)

# Expected Output:

Table Name: Employee

Name: Id 	 Type: INTEGER
Name: LastName 	 Type: VARCHAR(8000)
Name: FirstName 	 Type: VARCHAR(8000)
Name: Title 	 Type: VARCHAR(8000)
Name: TitleOfCourtesy 	 Type: VARCHAR(8000)
Name: BirthDate 	 Type: VARCHAR(8000)
Name: HireDate 	 Type: VARCHAR(8000)
Name: Address 	 Type: VARCHAR(8000)
Name: City 	 Type: VARCHAR(8000)
Name: Region 	 Type: VARCHAR(8000)
Name: PostalCode 	 Type: VARCHAR(8000)
Name: Country 	 Type: VARCHAR(8000)
Name: HomePhone 	 Type: VARCHAR(8000)
Name: Extension 	 Type: VARCHAR(8000)
Name: Photo 	 Type: BLOB
Name: Notes 	 Type: VARCHAR(8000)
Name: ReportsTo 	 Type: INTEGER
Name: PhotoPath 	 Type: VARCHAR(8000)

## Connecting and Executing Raw SQL Statements

Sometimes, the easiest thing for us to do is to just execute a raw SQL statement.  This is very easy with SQLAlchemy--we just need to establish a connection, and then use the appropriat methods to execute SQL statements!

In the cell below:

* Create a connection using the `engine` object's appropriate method and store it in the variable `con`
* Use the appropriate method from `con` to execute a raw SQL statement (in the form of a string) that gets everything from the `'Customer'` table with a LIMIT of 5. Store the results returned in the variable `rs`
* Use the `fetchall()` method to display all results from `rs`.

In [7]:
con = engine.connect()
rs = con.execute("SELECT * FROM Customer LIMIT 5")

print(rs.fetchall())

2019-06-03 15:12:05,616 INFO sqlalchemy.engine.base.Engine SELECT * FROM Customer LIMIT 5
2019-06-03 15:12:05,617 INFO sqlalchemy.engine.base.Engine ()
[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'), ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'), ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None), ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', 'British Isles', 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'), ('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', 'Northern Europe', 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')]

# Expected Output:

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'), ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'), ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None), ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', 'British Isles', 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'), ('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', 'Northern Europe', 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')]

## Incorporating Pandas DataFrames

So far we've been able to easily connect to a SQL database, inspect the tables, and execute queries. However, the results returned from queries haven't been in an easily readable format.  We'll fix that by taking the results and storing it in a pandas DataFrame!

In the cell below:

* Import pandas and set the standard alias.
* Create and execute a query that gets The firstname, lastname, and title of every person in the `'Employee'` table.
* Create a pandas DataFrame out of the results returned from `rs.fetchall()`
* Display the head of the new DataFRame

In [9]:
import pandas as pd

rs = con.execute("SELECT firstname, lastname, title from Employee")
df = pd.DataFrame(rs.fetchall())
df.head()

2019-06-03 15:16:11,540 INFO sqlalchemy.engine.base.Engine SELECT firstname, lastname, title from Employee
2019-06-03 15:16:11,542 INFO sqlalchemy.engine.base.Engine ()

          0          1                      2
0     Nancy    Davolio   Sales Representative
1    Andrew     Fuller  Vice President, Sales
2     Janet  Leverling   Sales Representative
3  Margaret    Peacock   Sales Representative
4    Steven   Buchanan          Sales Manager

Nice! We can now read our results.  However, the columns of our DataFrame aren't labeled.  Luckily, pandas plays nicely with the sqlalchemy library, and can actually execute sql queries!

### Writing Queries with Pandas

In the cell below:

* Use the appropriate method from pandas to select all columns for every row in the `[Order]` table where the customer is `'VINET'`
* Be sure to pass in our `engine` as the 2nd parameter, otherwise it won't work!
* Display the head of the DataFrame created to ensure everything worked correctly.

In [10]:
df = pd.read_sql_query("SELECT * FROM [Order] WHERE CUSTOMERid = 'Vinet'", engine)
df.head()

2019-06-03 15:31:30,953 INFO sqlalchemy.engine.base.Engine SELECT * FROM [Order] WHERE CUSTOMERid = 'Vinet'
2019-06-03 15:31:30,953 INFO sqlalchemy.engine.base.Engine ()

Empty DataFrame
Columns: [Id, CustomerId, EmployeeId, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry]
Index: []

Great! As we can see from the output above, when we let pandas execute the SQL query for us, the DataFrame now contains columns with the correct labels. This is a great way to execute SQL while still making sure our results are easy to read and manipulate by using DataFrames!

## Executing JOIN Statements

Let's try executing a JOIN statement inside `pd.read_sql_query`.

In the cell below:

* Write a query that gets the Order ID, Company Name, and the total count of orders made by each company (as num_orders).
* Group the results by Company Name
* Order the results by num_orders, descending
* Display the head of the DataFrame to ensure everything worked correctly.

In [12]:
df = pd.read_sql_query("""SELECT o.ID, c.CompanyName, Count(*) num_orders
            FROM [Order] o INNER JOIN Customer c on o.CustomerID = c.ID GROUP BY
            c.CompanyName ORDER BY num_orders DESC;""", engine)
df.head()

2019-06-03 15:35:33,690 INFO sqlalchemy.engine.base.Engine SELECT o.ID, c.CompanyName, Count(*) num_orders
            FROM [Order] o INNER JOIN Customer c on o.CustomerID = c.ID GROUP BY
            c.CompanyName ORDER BY num_orders DESC;

INFO:sqlalchemy.engine.base.Engine:SELECT o.ID, c.CompanyName, Count(*) num_orders
            FROM [Order] o INNER JOIN Customer c on o.CustomerID = c.ID GROUP BY
            c.CompanyName ORDER BY num_orders DESC;

2019-06-03 15:35:33,692 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

      Id                   CompanyName  num_orders
0  11064            Save-a-lot Markets          31
1  11072                  Ernst Handel          30
2  11021                    QUICK-Stop          28
3  11050                Folk och fä HB          19
4  11063  Hungry Owl All-Night Grocers          19

### Expected Output

<img src='join_results.png'>

Great job! Let's see if we can execute a join that includes entities with a many-to-many relationship.

### JOINs with Many-To-Many Relationships

In the cell below:

* Write a query that selects the LastName, FirstName and number of territories assigned for every employee. 
* Group the results by employee lastname
* Order by the total number of territories assigned to each employee, descending
* You'll need to make use a join table to solve this one--be sure to take a look at the ERD diagram again if needed!
* Store your results in a DataFrame and display the head to ensure that everything worked correctly.

**_NOTE:_** For long SQL statements, consider using the multiline string format in python, denoted by `"""three quotes"""` at the beginning and end.  Note that if you hit enter to move to another line, be sure to add an `\` character at the end of the line to escape it--otherwise, your sql statements will contain `\n` newline characters wherever you hit enter to move to the next line.

In [14]:
q = """SELECT LastName, FirstName, Count(*) as TerritoriesAssigned \
                FROM Employee \
                JOIN EmployeeTerritory et on Employee.Id = et.employeeID \
                GROUP BY Employee.LastName \
                ORDER BY TerritoriesAssigned DESC"""

df2 = pd.read_sql_query(q, engine)
df2.head()

2019-06-03 15:43:41,116 INFO sqlalchemy.engine.base.Engine SELECT LastName, FirstName, Count(*) as TerritoriesAssigned                 FROM Employee                 JOIN EmployeeTerritory et on Employee.Id = et.employeeID                 GROUP BY Employee.LastName                 ORDER BY TerritoriesAssigned DESC

INFO:sqlalchemy.engine.base.Engine:SELECT LastName, FirstName, Count(*) as TerritoriesAssigned                 FROM Employee                 JOIN EmployeeTerritory et on Employee.Id = et.employeeID                 GROUP BY Employee.LastName                 ORDER BY TerritoriesAssigned DESC

2019-06-03 15:43:41,117 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

    LastName FirstName  TerritoriesAssigned
0       King    Robert                   10
1   Buchanan    Steven                    7
2  Dodsworth      Anne                    7
3     Fuller    Andrew                    7
4     Suyama   Michael                    5

#### Expected Output:

<img src='many-to-many-results.png'>

Great job! You've demonstrated proficiency using raw sql with SQLAlchemy. However, we haven't yet touched all the fun declarative stuff.  Let's get some practice working with SQLAlchemy `session` objects below!

## Using SQLAlchemy Sessions

So far, we've just been using SQLAlchemy as a way to connect to a database and run SQL queries. However, SQLAlchemy is an **_Object-Relational Mapper_**, and can map entities in our database to python objects! This can be incredibly helpful when we need to incorporate data from our database into an object-oriented program or model. 

Let's start by getting some practice with `session` objects, because that's where all the magic happens.

### Using `.query` Objects

Recall that we created a `session` object at the beginning of this lab by using SQLAlchemy's `sessionmaker` function and binding it to our `engine` object.  We haven't used our `session` object too much thus far, but now we'll use it for queries!

The `session` object contains a `.query()` method which returns a query object containing the results of our query, with the results mapped to objects.  

Before we can make use of Object-Relational Mappings, we need to make sure that we have mappings created that map the tables in our existing database to objects in python.  We don't want to have to do this manually, so we'll make use the `automap` module inside of `sqlalchemy.ext`.

In the cell below:

* Import `MetaData` from `sqlalchemy`
* Import `automap_base` from `sqlalchemy.ext.automap`
* Create a `MetaData` object
* Use the metadata object's `reflect` method on our `engine`
* Call `automap_base` and set the `metadata` parameter to our `metadata`. Store the results returned inside of the variable `Base`
* Call `base.prepare()`
* Map `Employee` and `Customer` to the `Employee` and `Customer` classes, which can be found inside of `Base.classes`

In [15]:
from sqlalchemy import MetaData
from sqlalchemy.ext.automap import automap_base

metadata = MetaData()

metadata.reflect(engine)

Base = automap_base(metadata=metadata)

Base.prepare()

Employee, Customer = Base.classes.Employee, Base.classes.Customer

2019-06-03 15:45:35,926 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2019-06-03 15:45:35,928 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:35,933 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Category")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Category")

2019-06-03 15:45:35,934 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:35,937 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'

2019-06-03 15:45:35,940 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:35,943 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Category")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("Category")

2019-06-03 15:45:35,944 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:35,946 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'

2019-06-03 15:45:35,948 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:35,954 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Category")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Category")

2019-06-03 15:45:35,956 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:35,959 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Category")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Category")

2019-06-03 15:45:35,960 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:35,963 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'

2019-06-03 15:45:35,965 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:35,971 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Customer")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Customer")

2019-06-03 15:45:35,972 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:35,976 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'

2019-06-03 15:45:35,977 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:35,980 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Customer")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("Customer")

2019-06-03 15:45:35,981 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:35,984 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'

2019-06-03 15:45:35,985 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:35,987 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Customer")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Customer")

2019-06-03 15:45:35,988 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:35,991 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Customer")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Customer")

2019-06-03 15:45:35,992 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:35,994 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_Customer_1")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_info("sqlite_autoindex_Customer_1")

2019-06-03 15:45:35,996 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:35,998 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'

2019-06-03 15:45:36,000 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,002 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("CustomerCustomerDemo")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("CustomerCustomerDemo")

2019-06-03 15:45:36,004 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,007 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'

2019-06-03 15:45:36,008 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,011 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("CustomerCustomerDemo")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("CustomerCustomerDemo")

2019-06-03 15:45:36,013 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,015 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'

2019-06-03 15:45:36,016 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,019 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerCustomerDemo")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("CustomerCustomerDemo")

2019-06-03 15:45:36,021 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,024 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerCustomerDemo")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("CustomerCustomerDemo")

2019-06-03 15:45:36,025 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,027 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_CustomerCustomerDemo_1")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_info("sqlite_autoindex_CustomerCustomerDemo_1")

2019-06-03 15:45:36,028 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,030 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'

2019-06-03 15:45:36,031 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,034 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("CustomerDemographic")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("CustomerDemographic")

2019-06-03 15:45:36,035 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,037 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'

2019-06-03 15:45:36,039 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,041 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("CustomerDemographic")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("CustomerDemographic")

2019-06-03 15:45:36,043 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,045 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'

2019-06-03 15:45:36,047 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,049 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerDemographic")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("CustomerDemographic")

2019-06-03 15:45:36,050 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,052 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerDemographic")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("CustomerDemographic")

2019-06-03 15:45:36,053 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,056 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_CustomerDemographic_1")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_info("sqlite_autoindex_CustomerDemographic_1")

2019-06-03 15:45:36,057 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,059 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'

2019-06-03 15:45:36,060 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,063 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Employee")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Employee")

2019-06-03 15:45:36,065 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,069 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'

2019-06-03 15:45:36,070 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,073 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Employee")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("Employee")

2019-06-03 15:45:36,074 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,076 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'

2019-06-03 15:45:36,078 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,081 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Employee")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Employee")

2019-06-03 15:45:36,083 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,085 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Employee")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Employee")

2019-06-03 15:45:36,086 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,089 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'

2019-06-03 15:45:36,090 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,093 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("EmployeeTerritory")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("EmployeeTerritory")

2019-06-03 15:45:36,094 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,096 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'

2019-06-03 15:45:36,097 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,100 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("EmployeeTerritory")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("EmployeeTerritory")

2019-06-03 15:45:36,101 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,103 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'

2019-06-03 15:45:36,105 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,107 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("EmployeeTerritory")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("EmployeeTerritory")

2019-06-03 15:45:36,109 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,112 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("EmployeeTerritory")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("EmployeeTerritory")

2019-06-03 15:45:36,113 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,115 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_EmployeeTerritory_1")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_info("sqlite_autoindex_EmployeeTerritory_1")

2019-06-03 15:45:36,117 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,118 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'

2019-06-03 15:45:36,120 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,123 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Order")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Order")

2019-06-03 15:45:36,124 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,128 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'

2019-06-03 15:45:36,129 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,132 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Order")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("Order")

2019-06-03 15:45:36,133 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,135 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'

2019-06-03 15:45:36,136 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,139 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Order")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Order")

2019-06-03 15:45:36,140 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,142 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Order")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Order")

2019-06-03 15:45:36,144 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,146 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'

2019-06-03 15:45:36,147 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,150 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("OrderDetail")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("OrderDetail")

2019-06-03 15:45:36,152 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,154 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'

2019-06-03 15:45:36,156 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,158 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("OrderDetail")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("OrderDetail")

2019-06-03 15:45:36,159 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,161 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'

2019-06-03 15:45:36,163 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,165 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("OrderDetail")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("OrderDetail")

2019-06-03 15:45:36,166 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,169 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("OrderDetail")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("OrderDetail")

2019-06-03 15:45:36,170 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,173 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_OrderDetail_1")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_info("sqlite_autoindex_OrderDetail_1")

2019-06-03 15:45:36,175 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,177 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'

2019-06-03 15:45:36,179 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,182 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Product")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Product")

2019-06-03 15:45:36,184 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,187 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'

2019-06-03 15:45:36,189 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,192 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Product")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("Product")

2019-06-03 15:45:36,194 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,195 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'

2019-06-03 15:45:36,197 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,200 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Product")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Product")

2019-06-03 15:45:36,201 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,203 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Product")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Product")

2019-06-03 15:45:36,205 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,207 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'

2019-06-03 15:45:36,208 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,211 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Region")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Region")

2019-06-03 15:45:36,212 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,214 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'

2019-06-03 15:45:36,216 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,218 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Region")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("Region")

2019-06-03 15:45:36,220 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,221 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'

2019-06-03 15:45:36,222 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,225 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Region")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Region")

2019-06-03 15:45:36,226 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,229 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Region")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Region")

2019-06-03 15:45:36,230 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,231 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'

2019-06-03 15:45:36,233 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,237 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Shipper")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Shipper")

2019-06-03 15:45:36,239 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,241 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'

2019-06-03 15:45:36,242 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,245 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Shipper")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("Shipper")

2019-06-03 15:45:36,246 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,248 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'

2019-06-03 15:45:36,249 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,251 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Shipper")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Shipper")

2019-06-03 15:45:36,252 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,254 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Shipper")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Shipper")

2019-06-03 15:45:36,255 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,258 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'

2019-06-03 15:45:36,260 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,262 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Supplier")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Supplier")

2019-06-03 15:45:36,263 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,266 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'

2019-06-03 15:45:36,268 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,270 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Supplier")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("Supplier")

2019-06-03 15:45:36,272 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,275 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'

2019-06-03 15:45:36,277 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,279 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Supplier")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Supplier")

2019-06-03 15:45:36,280 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,282 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Supplier")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Supplier")

2019-06-03 15:45:36,284 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,286 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'

2019-06-03 15:45:36,288 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,291 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Territory")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Territory")

2019-06-03 15:45:36,293 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,295 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'

2019-06-03 15:45:36,296 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,298 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Territory")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("Territory")

2019-06-03 15:45:36,300 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,302 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'

2019-06-03 15:45:36,304 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,306 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Territory")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Territory")

2019-06-03 15:45:36,307 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,309 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Territory")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Territory")

2019-06-03 15:45:36,311 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,312 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_Territory_1")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_info("sqlite_autoindex_Territory_1")

2019-06-03 15:45:36,314 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2019-06-03 15:45:36,315 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'

2019-06-03 15:45:36,316 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

Now that we have some mappings set up, we can make use of `session.query()` help us query our database!

### Writing Basic Queries

Let's use the `query()` object to get all the employees from the `'Employee'` table. 

In the cell below:

* Create a for loop that iterates through the results returned by a `session.query()` of the Employee table (pass this as a variable, not a string).
* Order the results by the Employee's `.HireDate` attribute.
* Print the last name, first name, and hire date of each employee.

In [17]:
for instance in session.query(Employee).order_by(Employee.HireDate):
    print(f'Name: {instance.LastName}, {instance.FirstName} \n Hired: {instance.HireDate}')

2019-06-03 15:48:38,135 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2019-06-03 15:48:38,139 INFO sqlalchemy.engine.base.Engine SELECT "Employee"."Id" AS "Employee_Id", "Employee"."LastName" AS "Employee_LastName", "Employee"."FirstName" AS "Employee_FirstName", "Employee"."Title" AS "Employee_Title", "Employee"."TitleOfCourtesy" AS "Employee_TitleOfCourtesy", "Employee"."BirthDate" AS "Employee_BirthDate", "Employee"."HireDate" AS "Employee_HireDate", "Employee"."Address" AS "Employee_Address", "Employee"."City" AS "Employee_City", "Employee"."Region" AS "Employee_Region", "Employee"."PostalCode" AS "Employee_PostalCode", "Employee"."Country" AS "Employee_Country", "Employee"."HomePhone" AS "Employee_HomePhone", "Employee"."Extension" AS "Employee_Extension", "Employee"."Photo" AS "Employee_Photo", "Employee"."Notes" AS "Employee_Notes", "Employee"."ReportsTo" AS "Employee_ReportsTo", "Employee"."PhotoPath" AS "Employee_PhotoPath"
FROM "Employee" ORDER BY "Employee"."HireDate"

INFO:sqlalchemy.engine.base.Engine:SELECT "Employee"."Id" AS "Employee_Id", "Employee"."LastName" AS "Employee_LastName", "Employee"."FirstName" AS "Employee_FirstName", "Employee"."Title" AS "Employee_Title", "Employee"."TitleOfCourtesy" AS "Employee_TitleOfCourtesy", "Employee"."BirthDate" AS "Employee_BirthDate", "Employee"."HireDate" AS "Employee_HireDate", "Employee"."Address" AS "Employee_Address", "Employee"."City" AS "Employee_City", "Employee"."Region" AS "Employee_Region", "Employee"."PostalCode" AS "Employee_PostalCode", "Employee"."Country" AS "Employee_Country", "Employee"."HomePhone" AS "Employee_HomePhone", "Employee"."Extension" AS "Employee_Extension", "Employee"."Photo" AS "Employee_Photo", "Employee"."Notes" AS "Employee_Notes", "Employee"."ReportsTo" AS "Employee_ReportsTo", "Employee"."PhotoPath" AS "Employee_PhotoPath"
FROM "Employee" ORDER BY "Employee"."HireDate"

2019-06-03 15:48:38,141 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

Name: Leverling, Janet
 Hired: 2024-04-01
Name: Davolio, Nancy
 Hired: 2024-05-01
Name: Fuller, Andrew
 Hired: 2024-08-14
Name: Peacock, Margaret
 Hired: 2025-05-03
Name: Buchanan, Steven
 Hired: 2025-10-17
Name: Suyama, Michael
 Hired: 2025-10-17
Name: King, Robert
 Hired: 2026-01-02
Name: Callahan, Laura
 Hired: 2026-03-05
Name: Dodsworth, Anne
 Hired: 2026-11-15

### Implicit JOINs using `.filter()`

One great benefit of using `session.query()` to query our data is that we can easily execute **_implicit joins_** by making use of the `.filter()` method. 

So far we've only explicitly specified mappings for the `Employee` and `Customer` classes.  We'll need to do this now for the `Product` and `Category` classes before we can use them with `session.query()`.

In the cell below, set the mappings for `Product` and `Category`.

**_HINT:_** This will look just like the last line of the code cell where we declared our mappings previously.  No need to repeat all the steps for getting metadata and creating a `Base` class. Just set the mappings!

In [18]:
Product, Category = Base.classes.Product, Base.classes.Category

Great!

Now, in the cell below:

* Create a for loop that iterates through all results returned from a query of Products and Categories
* Use the `.filter()` method to only include cases where the Product's `.CategoryID` matches the Category's `.Id` attribute.
* Print out the name of each product, followed by the name of the category that it belongs to.

In [21]:
for prod, cat in session.query(Product, Category).filter(Product.CategoryId==Category.Id).all():
    print(f'Procut Name: {prod.ProductName}\n Category Name: {cat.CategoryName}')

2019-06-03 16:09:42,012 INFO sqlalchemy.engine.base.Engine SELECT "Product"."Id" AS "Product_Id", "Product"."ProductName" AS "Product_ProductName", "Product"."SupplierId" AS "Product_SupplierId", "Product"."CategoryId" AS "Product_CategoryId", "Product"."QuantityPerUnit" AS "Product_QuantityPerUnit", "Product"."UnitPrice" AS "Product_UnitPrice", "Product"."UnitsInStock" AS "Product_UnitsInStock", "Product"."UnitsOnOrder" AS "Product_UnitsOnOrder", "Product"."ReorderLevel" AS "Product_ReorderLevel", "Product"."Discontinued" AS "Product_Discontinued", "Category"."Id" AS "Category_Id", "Category"."CategoryName" AS "Category_CategoryName", "Category"."Description" AS "Category_Description"
FROM "Product", "Category"
WHERE "Product"."CategoryId" = "Category"."Id"

INFO:sqlalchemy.engine.base.Engine:SELECT "Product"."Id" AS "Product_Id", "Product"."ProductName" AS "Product_ProductName", "Product"."SupplierId" AS "Product_SupplierId", "Product"."CategoryId" AS "Product_CategoryId", "Product"."QuantityPerUnit" AS "Product_QuantityPerUnit", "Product"."UnitPrice" AS "Product_UnitPrice", "Product"."UnitsInStock" AS "Product_UnitsInStock", "Product"."UnitsOnOrder" AS "Product_UnitsOnOrder", "Product"."ReorderLevel" AS "Product_ReorderLevel", "Product"."Discontinued" AS "Product_Discontinued", "Category"."Id" AS "Category_Id", "Category"."CategoryName" AS "Category_CategoryName", "Category"."Description" AS "Category_Description"
FROM "Product", "Category"
WHERE "Product"."CategoryId" = "Category"."Id"

2019-06-03 16:09:42,013 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

Procut Name: Chai
 Category Name: Beverages
Procut Name: Chang
 Category Name: Beverages
Procut Name: Aniseed Syrup
 Category Name: Condiments
Procut Name: Chef Anton's Cajun Seasoning
 Category Name: Condiments
Procut Name: Chef Anton's Gumbo Mix
 Category Name: Condiments
Procut Name: Grandma's Boysenberry Spread
 Category Name: Condiments
Procut Name: Uncle Bob's Organic Dried Pears
 Category Name: Produce
Procut Name: Northwoods Cranberry Sauce
 Category Name: Condiments
Procut Name: Mishi Kobe Niku
 Category Name: Meat/Poultry
Procut Name: Ikura
 Category Name: Seafood
Procut Name: Queso Cabrales
 Category Name: Dairy Products
Procut Name: Queso Manchego La Pastora
 Category Name: Dairy Products
Procut Name: Konbu
 Category Name: Seafood
Procut Name: Tofu
 Category Name: Produce
Procut Name: Genen Shouyu
 Category Name: Condiments
Procut Name: Pavlova
 Category Name: Confections
Procut Name: Alice Mutton
 Category Name: Meat/Poultry
Procut Name: Carnarvon Tigers
 Category Name: Seafood
Procut Name: Teatime Chocolate Biscuits
 Category Name: Confections
Procut Name: Sir Rodney's Marmalade
 Category Name: Confections
Procut Name: Sir Rodney's Scones
 Category Name: Confections
Procut Name: Gustaf's Knäckebröd
 Category Name: Grains/Cereals
Procut Name: Tunnbröd
 Category Name: Grains/Cereals
Procut Name: Guaraná Fantástica
 Category Name: Beverages
Procut Name: NuNuCa Nuß-Nougat-Creme
 Category Name: Confections
Procut Name: Gumbär Gummibärchen
 Category Name: Confections
Procut Name: Schoggi Schokolade
 Category Name: Confections
Procut Name: Rössle Sauerkraut
 Category Name: Produce
Procut Name: Thüringer Rostbratwurst
 Category Name: Meat/Poultry
Procut Name: Nord-Ost Matjeshering
 Category Name: Seafood
Procut Name: Gorgonzola Telino
 Category Name: Dairy Products
Procut Name: Mascarpone Fabioli
 Category Name: Dairy Products
Procut Name: Geitost
 Category Name: Dairy Products
Procut Name: Sasquatch Ale
 Category Name: Beverages
Procut Name: Steeleye Stout
 Category Name: Beverages
Procut Name: Inlagd Sill
 Category Name: Seafood
Procut Name: Gravad lax
 Category Name: Seafood
Procut Name: Côte de Blaye
 Category Name: Beverages
Procut Name: Chartreuse verte
 Category Name: Beverages
Procut Name: Boston Crab Meat
 Category Name: Seafood
Procut Name: Jack's New England Clam Chowder
 Category Name: Seafood
Procut Name: Singaporean Hokkien Fried Mee
 Category Name: Grains/Cereals
Procut Name: Ipoh Coffee
 Category Name: Beverages
Procut Name: Gula Malacca
 Category Name: Condiments
Procut Name: Rogede sild
 Category Name: Seafood
Procut Name: Spegesild
 Category Name: Seafood
Procut Name: Zaanse koeken
 Category Name: Confections
Procut Name: Chocolade
 Category Name: Confections
Procut Name: Maxilaku
 Category Name: Confections
Procut Name: Valkoinen suklaa
 Category Name: Confections
Procut Name: Manjimup Dried Apples
 Category Name: Produce
Procut Name: Filo Mix
 Category Name: Grains/Cereals
Procut Name: Perth Pasties
 Category Name: Meat/Poultry
Procut Name: Tourtière
 Category Name: Meat/Poultry
Procut Name: Pâté chinois
 Category Name: Meat/Poultry
Procut Name: Gnocchi di nonna Alice
 Category Name: Grains/Cereals
Procut Name: Ravioli Angelo
 Category Name: Grains/Cereals
Procut Name: Escargots de Bourgogne
 Category Name: Seafood
Procut Name: Raclette Courdavault
 Category Name: Dairy Products
Procut Name: Camembert Pierrot
 Category Name: Dairy Products
Procut Name: Sirop d'érable
 Category Name: Condiments
Procut Name: Tarte au sucre
 Category Name: Confections
Procut Name: Vegie-spread
 Category Name: Condiments
Procut Name: Wimmers gute Semmelknödel
 Category Name: Grains/Cereals
Procut Name: Louisiana Fiery Hot Pepper Sauce
 Category Name: Condiments
Procut Name: Louisiana Hot Spiced Okra
 Category Name: Condiments
Procut Name: Laughing Lumberjack Lager
 Category Name: Beverages
Procut Name: Scottish Longbreads
 Category Name: Confections
Procut Name: Gudbrandsdalsost
 Category Name: Dairy Products
Procut Name: Outback Lager
 Category Name: Beverages
Procut Name: Flotemysost
 Category Name: Dairy Products
Procut Name: Mozzarella di Giovanni
 Category Name: Dairy Products
Procut Name: Röd Kaviar
 Category Name: Seafood
Procut Name: Longlife Tofu
 Category Name: Produce
Procut Name: Rhönbräu Klosterbier
 Category Name: Beverages
Procut Name: Lakkalikööri
 Category Name: Beverages
Procut Name: Original Frankfurter grüne Soße
 Category Name: Condiments

/Users/paulw/anaconda3/envs/learn-env/lib/python3.6/site-packages/sqlalchemy/sql/sqltypes.py:665: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  "storage." % (dialect.name, dialect.driver)

## Summary

Great job! You've just used SQLAlchemy to work with a sample production database. Note that there are many, many more awesome things that SQLAlchemy can do, but they're outside the scope of this lesson.  However, if you're interested in learning more, don't be afraid to take a look at the [SQLAlchemy documentation](https://docs.sqlalchemy.org/en/latest/orm/tutorial.html) and work through some tutorials in your spare time!